# Virtualenv
.venv/
venv/

# Nuitka build/dist files
*.build/
*.dist/
*.exe

# Python cache
__pycache__/

# VSCode config
.vscode/

# Binaries
lib/

# Generated ui files
media_downloader_deluxe/ui/*_ui.py

# wix
*.cab
*.msi
