# Virtualenv
.venv/

# Nuitka build/dist files
__main__.build/
__main__.dist/

# Python cache
__pycache__/

# VSCode config
.vscode/

# Binaries
lib/

# Generated ui files
media_downloader_deluxe/ui/*_ui.py

# wix
*.wxs
*.cab
*.msi
*.wixobj
*.wixpdb
wix.zip
wix/
